* {
  font-family: sans-serif;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper  {
  line-height: 1.8;
  color:#000000;
  font-size: 1.2rem;
  border:2px solid #64083e;
  padding: 3rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  justify-content: center;
}

h1 {
   color:#227e26;
}

h2 {
  text-decoration: none;
  color: #227e26;
  list-style-type: disc;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: lighter;
}

p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
  }

  .wrapper {
    padding: 2rem;
  }
}
  







